{% load rest_framework %}

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
<style>
    body {
        margin: 10% 10%;
    }
</style>
<form action="{% url 'order' time_elapsed_in_days=time_elapsed_in_days %}" method="post" novalidate>
    {% csrf_token %}
    {% render_form input_serializer template_pack='rest_framework/vertical' %}
    <button type="submit" class="btn btn-default">Order</button>
</form>

{% if not input_serializer.validated_data and input_serializer.errors %}
    {% for field in serializer %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
{% endif %}
</body>
