{% load rest_framework %}

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>

<style>
body 
    {
        margin: 5% 5%;
        font-size:large;
    }

</style>

{% if order %}
<h4> {{ partial|default:"" }} Order number {{order.id}} has been placed on day {{time_elapsed_in_days}} for:</h4>
<ul style="list-style-type:none">
    {% if order.milk %}
        <li>{{ order.milk }} liters of milk</li>
    {% endif %}

    {% if order.skins %}
        <li>{{ order.skins }} skins of wool</li>
    {% endif %}
</ul>
{% else %}
<h4> Order failed because stock is insufficient</h4> 
{% endif %}
