{% load rest_framework %}
<html><body>
<style>
    body {
        font-size: 120%;
    }
    p + ul {
        margin-top: -15px;
    }

    li {
        margin-left: -12px;
        word-spacing: 0.2em;
    }
</style>
{% if errors %}
<p> Input Error: Please check your input data </p> 
{% endif %}

<p>In Stock:</p>
<ul style="list-style-type:none">
    <li>{{ data.stock.milk }} liters of milk</li>
    <li>{{ data.stock.skins }} skins of wool</li>
</ul>
<p>Herd:</p>
<ul style="list-style-type:none">
    {% for yak in data.herd %}
    <li>{{yak.name}} {{yak.age}} years old</li>
    {% endfor %}
</ul>

</body></html>
